<launch>
    <node pkg="touch_set" type="touch_pub" name="touch_pub" output="screen" />
    <node pkg="controller_set" type="pose_converter" name="pose_converter" output="screen" />
    <node pkg="robot_set" type="pose_error_controller" name="pose_error_controller" output="screen" />
    <node pkg="robot_set" type="ik_velocity_solver" name="ik_velocity_solver" output="screen" />
</launch>