<launch>
    <!-- <node pkg="touch_set" type="touch_pub" name="touch_pub" output="screen" /> -->
    <node pkg="controller_set" type="pose_converter_m" name="pose_converter_m" output="screen" >
        <!-- 手柄初始位姿和极限位姿 -->
        <param name="H_INIT_1" value="0.0018713378906249911"/>
        <param name="H_INIT_2" value="0.0"/>
        <param name="H_INIT_3" value="-0.06545825958251954"/>

        <param name="H_MAX_1" value="0.18"/>
        <param name="H_MAX_2" value="0.21"/>
        <param name="H_MAX_3" value="0.18"/>

        <param name="H_MIN_1" value="0.0018713378906249911"/>
        <param name="H_MIN_2" value="-0.21"/>
        <param name="H_MIN_3" value="-0.1"/>
        <!-- 机械臂初始位姿和极限位姿 -->
        <param name="R_INIT_1" value="0.28"/>
        <param name="R_INIT_2" value="-0.15"/>
        <param name="R_INIT_3" value="0.28"/>

        <param name="R_MAX_1" value="0.63"/>
        <param name="R_MAX_2" value="0.26"/>
        <param name="R_MAX_3" value="0.706"/>

        <param name="R_MIN_1" value="0.28"/>
        <param name="R_MIN_2" value="-0.56"/>
        <param name="R_MIN_3" value="0.22"/>
        <!-- 模式0：机械臂姿态保持垂直工作姿态；模式1：机械臂姿态跟随 -->
        <param name="CONTROL_MODE" value="0"/>
    </node>
    <node pkg="robot_set" type="pose_error_controller_m" name="pose_error_controller_m" output="screen" >
        <!-- 位置和姿态的pid参数 -->
        <param name="KP_LIN_N" value="2.75"/>
        <param name="KI_LIN_N" value="0.01"/>
        <param name="KD_LIN_N" value="0.3"/>
        <param name="KP_ROT_N" value="1.5"/>
        <param name="KVIR_ROT_N" value="1.0"/>
        <!-- 对齐阈值，tcp末端与期望末端的距离（误差） -->
        <param name="EQUAL1" value="0.12"/>
        <param name="EQUAL2" value="0.43"/>
    </node>
    <node pkg="robot_set" type="ik_velocity_solver_m" name="ik_velocity_solver_m" output="screen" >
        <!-- 最大关节速度比值，与robot_main中一致 -->
        <param name="MAX_QDOT_SCALE_1" value="0.2"/>
        <param name="MAX_QDOT_SCALE_2" value="0.2"/>
        <param name="MAX_QDOT_SCALE_3" value="0.2"/>
        <param name="MAX_QDOT_SCALE_4" value="0.2"/>
        <param name="MAX_QDOT_SCALE_5" value="0.2"/>
        <param name="MAX_QDOT_SCALE_6" value="0.2"/>

        <!-- 最大关节加速度，略小于robot_main中的 -->
        <param name="MAX_QDDOT_1" value="1.0"/>
        <param name="MAX_QDDOT_2" value="1.0"/>
        <param name="MAX_QDDOT_3" value="1.0"/>
        <param name="MAX_QDDOT_4" value="1.0"/>
        <param name="MAX_QDDOT_5" value="1.0"/>
        <param name="MAX_QDDOT_6" value="1.0"/>
    </node>

    <include file="$(find robot_set)/launch/robot.launch">
        <arg name="robot_ip" value="192.168.1.199"/>
        <arg name="pc_ip" value="192.168.1.150"/>
        <arg name="mode" value="true"/>
        <arg name="external_control" value="$(find robot_sdk_wrapper)/resource/external_control.script"/>
        <arg name="output_recipe" value="$(find robot_sdk_wrapper)/resource/output_recipe.txt"/>
        <arg name="input_recipe" value="$(find robot_sdk_wrapper)/resource/input_recipe.txt"/>
        <arg name="task_file" value="mjktest.task"/>

        <arg name="root_joint_1" value="0.0"/>
        <arg name="root_joint_2" value="-1.18"/>
        <arg name="root_joint_3" value="-2.44"/>
        <arg name="root_joint_4" value="-1.1"/>
        <arg name="root_joint_5" value="1.57"/>
        <arg name="root_joint_6" value="-1.57"/>

        <arg name="max_qdot_scale_1" value="0.2"/>
        <arg name="max_qdot_scale_2" value="0.2"/>
        <arg name="max_qdot_scale_3" value="0.2"/>
        <arg name="max_qdot_scale_4" value="0.2"/>
        <arg name="max_qdot_scale_5" value="0.2"/>
        <arg name="max_qdot_scale_6" value="0.2"/>

        <arg name="max_qddot_1" value="1.2"/>
        <arg name="max_qddot_2" value="1.2"/>
        <arg name="max_qddot_3" value="1.2"/>
        <arg name="max_qddot_4" value="1.2"/>
        <arg name="max_qddot_5" value="1.2"/>
        <arg name="max_qddot_6" value="1.2"/>
    </include>
</launch>