<launch>

  <!-- <rosparam file="$(find moveit)/config/controllers.yaml" command="load"/> -->

  <node name="my_robot_hw_node"
        pkg="moveit"
        type="my_robot_hw_node"
        output="screen"/>
<!-- 
  <node name="controller_spawner"
        pkg="controller_manager"
        type="spawner"
        args="planning_group_controller"/> -->

</launch>